@page "/Instructor/{handler?}/{id?}"
@model CIAC_TAS_Web_UI.Pages.Instructor.InstructorModel
@{
    ViewData["Title"] = "Instructor";
}

<!-- From here, we should put this code as template in each page -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Instructor Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                        <li class="breadcrumb-item active">Instructor Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- /.box-header -->
    <div class="col-sm-12">
        <a asp-page="/Instructor/Instructores" class="fa fa-arrow-circle-left" style="font-size:25px;"></a>
    </div>
    <br />

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Instructor</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <form method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="InstructorModelView.UserId">Usuario</label>
                        <select asp-for="InstructorModelView.UserId" asp-items="Model.UsuariosOptions" class="form-control select2" placeholder="Seleccione un Usuario para este Instructor">
                            <option value="">Seleccione un Usuario</option>
                        </select>
                        <span asp-validation-for="InstructorModelView.UserId" style="color:red"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="InstructorModelView.NumeroLicencia">Numero Licencia</label>
                        <input type="text" asp-for="InstructorModelView.NumeroLicencia" class="form-control" placeholder="Ingrese un Numero de Licencia">
                        <span asp-validation-for="InstructorModelView.NumeroLicencia" style="color:red"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="InstructorModelView.Email">Email</label>
                        <input type="email" asp-for="InstructorModelView.Email" class="form-control" placeholder="Ingrese un Email">
                        <span asp-validation-for="InstructorModelView.Email" style="color:red"></span>
                    </div>                    

                    <div class="form-group">
                        <label asp-for="InstructorModelView.Fecha">Fecha</label>
                        <input type="date" asp-for="InstructorModelView.Fecha" class="form-control" placeholder="Ingrese una Fecha" class="form-control datetimepicker-input">
                        <span asp-validation-for="InstructorModelView.Fecha" style="color:red"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="InstructorModelView.CodigoTas">Codigo Tas</label>
                        <input type="text" asp-for="InstructorModelView.CodigoTas" class="form-control" placeholder="Ingrese un CodigoTas">
                        <span asp-validation-for="InstructorModelView.CodigoTas" style="color:red"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="InstructorModelView.Nombres">Nombres</label>
                        <input type="text" asp-for="InstructorModelView.Nombres" class="form-control" placeholder="Ingrese un Nombre">
                        <span asp-validation-for="InstructorModelView.Nombres" style="color:red"></span>
                    </div>                    

                    <div class="form-group">
                        <label asp-for="InstructorModelView.ApellidoPaterno">Apellido Paterno</label>
                        <input type="text" asp-for="InstructorModelView.ApellidoPaterno" class="form-control" placeholder="Ingrese un Apellido Paterno">
                        <span asp-validation-for="InstructorModelView.ApellidoPaterno" style="color:red"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="InstructorModelView.ApellidoMaterno">Apellido Materno</label>
                        <input type="text" asp-for="InstructorModelView.ApellidoMaterno" class="form-control" placeholder="Ingrese un Apellido Materno">
                        <span asp-validation-for="InstructorModelView.ApellidoMaterno" style="color:red"></span>
                    </div>                                      

                    <div class="form-group">
                        <label asp-for="InstructorModelView.FechaNacimiento">Fecha Nacimiento</label>
                        <input type="date" asp-for="InstructorModelView.FechaNacimiento" class="form-control" placeholder="Ingrese una Fecha Nacimiento" class="form-control datetimepicker-input">
                        <span asp-validation-for="InstructorModelView.FechaNacimiento" style="color:red"></span>
                    </div>                    

                    <div class="form-group">
                        <label asp-for="InstructorModelView.Nacionalidad">Nacionalidad</label>
                        <input type="text" asp-for="InstructorModelView.Nacionalidad" class="form-control" placeholder="Ingrese una Nacionalidad">
                        <span asp-validation-for="InstructorModelView.Nacionalidad" style="color:red"></span>
                    </div>                    

                    <div class="form-group">
                        <label asp-for="InstructorModelView.EstadoCivil">EstadoCivil</label>
                        <input type="text" asp-for="InstructorModelView.EstadoCivil" class="form-control" placeholder="Ingrese un EstadoCivil">
                        <span asp-validation-for="InstructorModelView.EstadoCivil" style="color:red"></span>
                    </div>                    

                    <div class="form-group">
                        <label asp-for="InstructorModelView.Domicilio">Domicilio</label>
                        <input type="text" asp-for="InstructorModelView.Domicilio" class="form-control" placeholder="Ingrese un Domicilio">
                        <span asp-validation-for="InstructorModelView.Domicilio" style="color:red"></span>
                    </div>                    

                    <div class="form-group">
                        <label asp-for="InstructorModelView.Telefono">Telefono</label>
                        <input type="text" asp-for="InstructorModelView.Telefono" class="form-control" placeholder="Ingrese un Telefono">
                        <span asp-validation-for="InstructorModelView.Telefono" style="color:red"></span>
                    </div>                    

                    <div class="form-group">
                        <label asp-for="InstructorModelView.Celular">Celular</label>
                        <input type="text" asp-for="InstructorModelView.Celular" class="form-control" placeholder="Ingrese un Celular">
                        <span asp-validation-for="InstructorModelView.Celular" style="color:red"></span>
                    </div>
                    
                     <div class="form-group">
                        <label asp-for="InstructorModelView.Formacion">Formacion</label>
                        <textarea asp-for="InstructorModelView.Formacion" class="form-control" placeholder="Ingrese una Formacion"></textarea>
                        <span asp-validation-for="InstructorModelView.Formacion" style="color:red"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="InstructorModelView.Cursos">Cursos</label>
                        <textarea asp-for="InstructorModelView.Cursos" class="form-control" placeholder="Ingrese los Cursos"></textarea>
                        <span asp-validation-for="InstructorModelView.Cursos" style="color:red"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="InstructorModelView.ExperienciaLaboral">Experiencia Laboral</label>
                        <textarea asp-for="InstructorModelView.ExperienciaLaboral" class="form-control" placeholder="Ingrese la Experiencia Laboral"></textarea>
                        <span asp-validation-for="InstructorModelView.ExperienciaLaboral" style="color:red"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="InstructorModelView.ExperienciaInstruccion">Experiencia Instruccion</label>
                        <textarea asp-for="InstructorModelView.ExperienciaInstruccion" class="form-control" placeholder="Ingrese la Experiencia Instruccion"></textarea>
                        <span asp-validation-for="InstructorModelView.ExperienciaInstruccion" style="color:red"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="InstructorModelView.VacunaAntitetanica">Vacuna Antitetanica</label>
                        <select asp-for="InstructorModelView.VacunaAntitetanica" asp-items="Model.VacunaAntitetanicaOptions" class="form-control" placeholder="Seleccione una opcion">
                        </select>
                        <span asp-validation-for="InstructorModelView.VacunaAntitetanica" style="color:red"></span>
                    </div>
                                      

                    <div class="row">
                        @{
                            if (Model.InstructorModelView?.Id > 0)
                            {
                                <div class="col-4">
                                    <input type="submit" asp-page-handler="EditInstructor" class="btn btn-primary btn-block" value="Guardar">
                                </div>

                            }
                            else
                            {
                                <div class="col-4">
                                    <input type="submit" asp-page-handler="NewInstructor" class="btn btn-primary btn-block" value="Crear">
                                </div>
                            }
                        }

                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @{
                    if (Model.Message != null && Model.Message != string.Empty)
                    {
                        <div id="mensajeDiv" class="callout callout-danger">
                            @Model.Message
                        </div>
                    }
                }
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- To here -->

<script>
    $(function () {
        $('.select2').select2()
    });
</script>
