@page
@model CIAC_TAS_Web_UI.Pages.Instructor.RegistroNotasListModel
@{
    ViewData["Title"] = "Registro Notas Estudiantes";
}

<!-- From here, we should put this code as template in each page -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Registro Notas Estudiantes Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                        <li class="breadcrumb-item active">Registro Notas Estudiantes Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Registro Notas Estudiantes</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <form method="post" enctype="multipart/form-data">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="GrupoId" class="control-label">Grupo</label>
                        @{
                            if (Model.IsAdmin)
                            {
                                <select asp-for="GrupoId" asp-items="Model.GrupoOptions" class="form-control" placeholder="Seleccione una opcion">
                                    <option value="">Seleccione una opcion</option>
                                </select>
                            }
                            else
                            {
                                <select asp-for="GrupoId" asp-items="Model.GrupoOptions" class="form-control" placeholder="Seleccione una opcion" onchange="fillMateriaBasedOnGrupoId(this)">
                                    <option value="">Seleccione una opcion</option>
                                </select>
                            }
                        }

                        <span asp-validation-for="GrupoId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MateriaId" class="control-label">Materia</label>
                        <select asp-for="MateriaId" asp-items="Model.MateriaOptions" class="form-control" placeholder="Seleccione una opcion">
                            <option value="">Seleccione una opcion</option>
                        </select>
                        <span asp-validation-for="GrupoId" class="text-danger"></span>
                    </div>
                    @Html.HiddenFor(x => x.IsAdmin)

                    <br />
                    <div class="row">
                        <div class="col-4">
                            <input type="submit" class="btn btn-secondary btn-block" value="Continuar">
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @{
                    if (Model.Message != null && Model.Message != string.Empty)
                    {
                        <div id="mensajeDiv" class="callout callout-danger">
                            @Model.Message
                        </div>
                    }
                }
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- To here -->

<script type="text/javascript">
    function fillMateriaBasedOnGrupoId(selectElement) {
        var isAdmin = $('#isAdmin').attr('data-val');
        if (!isAdmin) {
            var grupoId = $('#GrupoId').val();
            var selectElement = $("#MateriaId");
            var defaultOption = selectElement.find('option:first');
            selectElement.find('option').not(defaultOption).remove();

            if (grupoId != '') {
                $.ajax({
                    url: "@Url.Page("/Instructor/RegistroNotasList")/?handler=GetMateriaOptionsByGrupoId",
                    method: "GET",
                    data: "grupoId=" + grupoId,
                    //beforeSend: function (xhr) {
                    //    xhr.setRequestHeader("XSRF-TOKEN",
                    //        $('input:hidden[name="__RequestVerificationToken"]').val());
                    //},
                    error: function (ex) {

                    },
                    success: function (data) {
                        for (var key in data) {
                            if (data.hasOwnProperty(key)) {
                                selectElement.append("<option value='" + key + "'>" + data[key] + "</option>");
                            }
                        }
                    }
                });
            }
        }
    }
</script>
