@page "/Grupos"
@model CIAC_TAS_Web_UI.Pages.General.GruposModel
@{
	ViewData["Title"] = "Grupos";
}

<!-- From here, we should put this code as template in each page -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Grupos Page</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
						<li class="breadcrumb-item active">Grupos Page</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Lista Grupos</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body">

				<a asp-page="/General/Grupo" asp-page-handler="NewGrupo" class="fa fa-plus" style="font-size:20px;"></a>

				<table id="example2" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@{
							foreach (var item in Model.GrupoModelView)
							{
								<tr>
									<td>@item.Nombre</td>
									<td>
										<a asp-page-handler="EditGrupo" asp-page="/General/Grupo" asp-route-id="@item.Id" class="fa fa-edit" style="font-size:15px;"></a>  |
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-@item.Id">
											<span class="btn-label"><i class="fa fa-trash"></i></span>
										</button>

										<!-- Modal -->
										<div class="modal fade" id="modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														Esta seguro que desea borrar este registro? <br/>
														[@item.Nombre]
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
														<a asp-page-handler="RemoveGrupo" asp-route-Id="@item.Id" id="deleteBtn" class="btn bg-danger mr-1">Borrar</a>
													</div>
												</div>
											</div>
										</div>

									</td>
								</tr>
							}
						}
					</tbody>
				</table>

			</div>
			<!-- /.card-body -->
			<div class="card-footer">
				@{
					if (Model.Message != null && Model.Message != string.Empty)
					{
						<div id="mensajeDiv" class="callout callout-danger">
							@Model.Message
						</div>
					}
				}
			</div>
			<!-- /.card-footer-->
		</div>
		<!-- /.card -->

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- To here -->