@page
@model CIAC_TAS_Web_UI.Pages.Estudiante.AsistenciaEstudianteHeadersPreviewModel
@{
    ViewData["Title"] = "Asistencia Estudiantes";
}

<!-- From here, we should put this code as template in each page -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Asistencia Estudiantes Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                        <li class="breadcrumb-item active">Asistencia Estudiantes Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>   

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Asistencia Estudiantes</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <form method="post" enctype="multipart/form-data">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="GrupoId" class="control-label">Grupo</label>
                        <select asp-for="GrupoId" asp-items="Model.GrupoOptions" class="form-control" placeholder="Seleccione una opcion">
                            <option value="">Seleccione una opcion</option>
                        </select>
                        <span asp-validation-for="GrupoId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MateriaId" class="control-label">Materia</label>
                        <select asp-for="MateriaId" asp-items="Model.MateriaOptions" class="form-control" placeholder="Seleccione una opcion">
                            <option value="">Seleccione una opcion</option>
                        </select>
                        <span asp-validation-for="GrupoId" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-4">
                            <input type="submit" class="btn btn-secondary btn-block" value="Continuar">
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @{
                    if (Model.Message != null && Model.Message != string.Empty)
                    {
                        <div id="mensajeDiv" class="callout callout-danger">
                            @Model.Message
                        </div>
                    }
                }
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- To here -->